@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");

.wrapper {
  display: flex;
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
  background: #f2eae2;
  padding: 16px;
}
