.mobile,
.desktop {
}

.scores {
  display: flex;
}

.mobile .scores {
  gap: 18px;
  margin-bottom: 24px;
}

.desktop .scores {
  gap: 21px;
  margin-bottom: 32px;
}

.desktop .star {
  margin-bottom: 30px;
}

.mobile .star {
  margin-bottom: 16px;
}

.button {
  font-family: "Overpass";
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #ffffff;
  background: #fc7614;
  border-radius: 22.5px;
  border: none;
  text-align: center;
  height: 45px;
  width: 100%;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #ffffff;
  color: #fc7614;
}
