.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.label {
  font: 700 14px/21px "Poppins";
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: #716f6f;
  margin-bottom: 8px;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  gap: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.01em;
  color: #151515;
  width: 160px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  outline: none;
  caret-color: #854DFF;

  &:focus-within {
    border: 1px solid #854DFF;
  }
}
