@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

.wrapper {
  display: flex;
  flex: 1 1 0;
  background: hsla(220, 100%, 96%, 1);
  font-family: Hanken Grotesk;
}

.desktop {
  align-items: center;
  justify-content: center;
}

.mobile {
  align-items: stretch;
}

.container {
  display: flex;
  background: #ffffff;
}

.desktop .container {
  border-radius: 32px;
}

.mobile .container {
  width: 100%;
  flex-direction: column;
}
